html {
  height: 100%;
}

body {
  background-image: linear-gradient( #F5FFFA, #E6E6FA , #87CEFA);
  display: flex;
  font-family: 'Teko', sans-serif;
  justify-content: center;
  min-height: -webkit-fill-available;
}

/* Player sections */
.feedback {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  padding: 140px;
}

.scoring {
  display: flex;
  font-size: 60px;
  justify-content: center;
  margin-top: 4px;
}

.player__token {
  height: 80px;
  width: 80px;
}

/* Game section */
.board {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 40px;
  justify-content: center;
}

.board__title {
  display: flex;
  font-size: 80px;
}

.board__game {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the tic-tac-toe boxes */
.board__game--box {
  align-items: center;
  background-color: white;
  border: 4px solid #43BFC7;
  cursor: crosshair;
  display: flex;
  height: 200px;
  justify-content: center;
  width: 200px;
}

.highlight {
  background-color: #FFFF33;
}

.box__top--border {
  border-top: 0px;
}

.box__bottom--border {
  border-bottom: 0px;
}

.box__left--border {
  border-left: 0px;
}

.box__right--border {
  border-right: 0px;
}

