html {
  height: 100%;
}

body {
  background-image: linear-gradient( #F5FFFA, #E6E6FA , #87CEFA);
  display: flex;
  font-family: 'Teko', sans-serif;
  /* min-height: -webkit-fill-available; */
  height: 100%;
  margin: 0px;
}

/* Center Board Styling */
.board {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* gap: 40px; */
  justify-content: center;

}

.board__title {
  display: flex;
  font-size: 60px;
  margin: 0px;
}

.board__game {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Game Box Styling */
.board__game--box {
  align-items: center;
  background-color: white;
  border: 4px solid #43BFC7;
  cursor: crosshair;
  display: flex;
  height: 160px;
  justify-content: center;
  width: 160px;
}

.box--bottom-border {
  border-bottom: 0px;
}

.box--left-border {
  border-left: 0px;
}

.box--right-border {
  border-right: 0px;
}

.box--top-border {
  border-top: 0px;
}

.box--highlight {
  background-color: #FFFF33;
}

/* Player Data */
.player {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  padding-top: 140px;
  flex-basis: 360px;
}

.player__token {
  flex-shrink: 1;
  height: 80px;
  width: 80px;
}

.player__token--smaller {
  height: 60px;
  width: 60px;
}

.player__scoring {
  font-size: 40px;
  margin-top: 4px;
}